<h2>Ingrese su nueva contrase침a:</h2>
<form id="changePassForm">
    <input type="hidden" name="token" id="token" value="{{token}}">
    Email: <input type="email" name="email" id="email">
    Contrase침a: <input type="password" name="newPass" id="newPass">
    Confirmaci칩n de Contrase침a: <input type="password" name="newPassConfirm" id="newPassConfirm">
    <input type="submit" value="Cambiar">
</form>
<script src="/js/changePass.js"></script>