<h2>Olvido su contraseña?</h2>
<form id="recoveryForm">
    Email: <input type="email" name="email" id="email">
    <input type="submit" value="RECUPERAR">
</form>
<script src="/js/forgotPass.js"></script>